#App-slider{
    position: relative;
    max-width: 720px;
    overflow: hidden;
    margin: 0px auto;
}
#App-slider:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 50%;
}
#App-slider ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#App-slider li{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#App-slider li img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}
#App-slider .dot{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0;
}
#App-slider .dot span{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#App-slider .dot .cur{
    background-color: #fff;
}